/* Plik style.css */


main {
    margin-bottom: 60px;
}

body {
    background-image: url(https://wallpapers.com/images/featured/sky-mvehfqz6w2ges2dj.webp);
    /*background-size: 100% auto; */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}
#header {
    max-width: 100vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 10px;
    color: black;
    text-align: left;
    margin-left: 15px;
}
.task {
    width: 90%;
    height: 40px;
    background-color: white;
    color: black;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.task h3 {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: left;
}
.task input[type="checkbox"] {
    margin-right: 10px;
}
.task.completed h3 {
    text-decoration: line-through;
}
.task .delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.foot {
    display: flex;
    align-items: left;
    justify-content: space-between;
    height: 40px;
    width: 90%;
    padding: 10px;
    margin: 15px;
    background-color: grey;
    border-radius: 10px;
    color: white;
    position: fixed;
    bottom: 0; 
    
}
#current-date {
    margin-left: 10px;
}
#add-task-btn {
    cursor: pointer;
    color: white;
    background-color: grey;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

#task-date {
    margin-left: 10px;
}